version: "3.8"

services:
  siemcraftweb:
    image: siemcraftweb:latest
    build:
      context: .
    environment:
      - DOMAIN=siemcraft.verkeerd-verbonden.nl
      - LETSENCRYPT_EMAIL=kvanderrijt@gmail.com
      # Set to 1 to use Let's Encrypt staging when testing issuance
      - LETSENCRYPT_STAGING=0
    ports:
      - target: 80
        published: 80
        protocol: tcp
        mode: ingress
      - target: 5443
        published: 5443
        protocol: tcp
        mode: ingress
    volumes:
      - certs:/etc/letsencrypt
      - webroot:/var/www/certbot
      - ./downloads:/usr/share/nginx/html/download:ro
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
      update_config:
        parallelism: 1
        delay: 10s

volumes:
  certs:
  webroot:
